---
layout: page
title: About
---

Hi! My name is Maya. I am from New Jersey and recently graduated with a B.S. in Computer Science from Rutgers University-New Brunswick. I am interested in technology, artificial intelligence, and applications to medicine. 

I have worked at MongoDB, Bank of America Merrill Lynch, National Institutes of Health, and Commvault. In the fall, I will be moving to the UK to study applications of computer science to biomedicine at University of Oxford as a Marshall Scholar. 

<!-- Keeping this handy in case I add blog functionality -->
<!--
---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->