---
layout: home
title: About
order: 1
---

Hi! My name is Maya. I am from New Jersey, USA and am currently a candidate for the MPhil in Therapeutic Sciences at University of Cambridge on the <a href="https://www.rutgers.edu/news/rutgers-computer-science-major-becomes-universitys-second-marshall-scholar">Marshall Scholarship</a>. 

I recently completed the MSc in Advanced Computer Science at University of Oxford and the B.S. in Computer Science at Rutgers University-New Brunswick. I have interned at MongoDB, Bank of America Merrill Lynch, and the National Institutes of Health.

<br/><br/>

My favorite hobbies are birding, hiking, classical music, and reading. 

<br/><br/>

Please send me an email if you'd like to connect! I'd love to hear from you. 

<!-- Keeping this handy in case I add blog functionality -->
<!--
---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->